* {
    margin: 0;
    padding: 0;
}

a, a:hover, a:visited {
    text-decoration: none !important;
    outline: none;
}

span {
    color: #bbbbbb;
    font-size: 10pt;
}

.green {
    color: #698353;
}

.orange {
    color: #cc7831;
}

.violet {
    color: #7776a9;
}

.grey {
    color: #6e6f6f;
}

.adaptive {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}


header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
    z-index: 1;
    background-color: #3c3f41;
    font-family: Arial;
}

header span {
    color: #bbbbbb;
    font-size: 10pt;
}

    header .search {
        position: fixed;
        right: 2px;
        top: 2px;
    }

    header .nav_right {
        position: fixed;
        right: 30px;
        top: 2px;
    }

nav {
    z-index: 2;
    position: fixed !important;
    top: 32px;
    height: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #323232;
    background-color: #3c3f41;
}

    nav span {
        font-family: Arial;
    }

    nav .project {
        position: relative;
        height: 25px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #323232;
    }

        nav .project .project_right {
            position: absolute;
            right: 4px;
            top: 4px;
        }

    nav .tab {
        margin-left: 20px;
    }

    nav ::selection {
        background: transparent;
    }

    nav ::-moz-selection {
        background: transparent;
    }


.main {
    position: absolute;
    margin-top: 32px;
    height: 100%;
    overflow-x: scroll !important;
    background-color: #2b2b2b;
}

    .main a:visited {
        text-decoration: none !important;
    }

    .main .drop_menu {
        position: static;
        top: 50px;
        background-color: #3c3f41;
        height: 25px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #464646;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #464646;

    }

        .main .drop_menu img {
            margin-bottom: 15px;
        }

        .main .drop_menu .right {
            position: absolute;
            right: 10px;
            top: 5px;
        }


    .main .about_me_one {
        position: relative;
    }

        .main .about_me_one p {
            margin-bottom: 0px;
        }

    .main .image_fon {
        width: 100%;
    }

    .main .text {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 60%;
    }

        .main .text .center {
            position: absolute;
            color: #CCCCCC;
            width: 100%;
            text-align: center;
        }

        .main .text .download {
            position: absolute;
            width: 100%;
            text-align: center;
            color: #CCCCCC;
        }

            .main .text .download p {
                margin: 5px;
            }

            .main .text .download a {
                color: #CCCCCC;

            }

            .main .text .download a:hover {
                color: #CCCCCC;
                text-decoration: underline !important;
            }

        .main .text .social_network {
            position: absolute;
            width: 100%;
            text-align: center;
        }

            .main .text .social_network li {
                display: inline-block;
            }

    .main .padding {
        padding-left: 15px;
    }

    .main a:hover {
        color: #698353;
    }


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 21px;
    z-index: 3;
    background-color: #3c3f41;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #464646;
}


@media (max-width: 575.98px) {
    nav .tab {
        margin-left: 30px;
    }

        nav .sp_nav, .sp {
            margin-left: 20px;
        }

    .main .drop_menu .left {
        margin-bottom: 0px;
        padding-top: 4px;
    }

        .main .text .center {
            font-family: 'Quicksand', sans-serif;
            font-size: 9pt;
            top: 40%;
        }

            .main .text .download {
                font-family: 'Quicksand', sans-serif;
                font-size: 6pt;
                top: 72%;
            }

            .main .text .download img {
                height: 9pt;
            }

        .main .social_network {
            bottom: 10px;
        }

            .main .social_network img {
                height: 10pt;
            }

        .main .about_me_two pre {
            font-size: 6pt !important;
        }

        .main, .main span, .main a, .main pre {
            font-family: "Courier New";
            font-size: 8pt;
        }


    footer {
        height: 10px;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    nav .tab {
        margin-left: 40px;
    }

        nav .sp_nav, .sp {
            margin-left: 30px;
        }

        nav span {
            font-size: 12pt;
        }

    .main .drop_menu .left {
        margin-bottom: 0px;
        padding-top: 4px;
    }

        .main .text .center {
            font-family: 'Quicksand', sans-serif;
            font-size: 17pt;
            top: 40%;
        }

            .main .text .download {
                font-family: 'Quicksand', sans-serif;
                font-size: 12pt;
                top: 72%;
            }

            .main .text .download img {
                height: 12pt;
            }

        .main .social_network {
            bottom: 10px;
        }

            .main .social_network img {
                height: 20px;
            }

        .main, .main span, .main a, .main pre {
            font-family: "Courier New";
            font-size: 12pt;
        }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    nav .tab {
        margin-left: 25px;
    }

        nav span {
            font-size: 10pt;
        }

        nav {
            border-right-width: 1px;
            border-right-style: solid;
            background-color: #3c3f41;
        }

    .main .text .center {
        font-family: 'Quicksand', sans-serif;
        font-size: 15pt;
        top: 40%;
    }

            .main .text .download {
                font-family: 'Quicksand', sans-serif;
                font-size: 12pt;
                top: 72%;
            }

            .main .text .download img {
                height: 12pt;
            }

        .main .social_network {
            bottom: 10px;
        }

            .main .social_network img {
                height: 20px;
            }

        .main, .main span, .main a, .main pre {
            font-family: "Courier New";
            font-size: 13pt;
        }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    nav .tab {
        margin-left: 30px;
    }

        nav .sp_nav, .sp {
            margin-left: 10px;
        }

        nav span {
            font-size: 10pt;
        }

        nav {
            border-right-width: 1px;
            border-right-style: solid;
            background-color: #3c3f41;
        }

    .main .text .center {
        font-family: 'Quicksand', sans-serif;
        font-size: 20pt;
        top: 40%;
    }

        .main .text .download {
            font-family: 'Quicksand', sans-serif;
            font-size: 15pt;
            top: 72%;
        }

            .main .text .download img {
                height: 15pt;
            }

        .main .social_network {
            bottom: 10px;
        }

            .main .social_network img {
                height: 25px;
            }

        .main, .main span, .main a, .main pre {
            font-family: "Courier New";
            font-size: 15pt;
        }
}


@media (min-width: 1200px) {
    nav .tab {
        margin-left: 30px;
    }

        nav .sp_nav, .sp {
            margin-left: 10px;
        }

        nav span {
            font-size: 10pt;
        }

        nav {
            border-right-width: 1px;
            border-right-style: solid;
            background-color: #3c3f41;
        }

    .main .text .center {
        font-family: 'Quicksand', sans-serif;
        font-size: 25pt;
        top: 40%;
    }

        .main .text .download {
            font-family: 'Quicksand', sans-serif;
            font-size: 18pt;
            top: 72%;
        }

            .main .text .download img {
                height: 18pt;
            }

        .main .social_network {
            bottom: 30px;
        }

        .main, .main span, .main a, .main pre {
            font-family: "Courier New";
            font-size: 18pt;
        }

        .main .padding {
            padding-left: 40px;
        }
}